@font-face {
    font-family: "COMIC-ZINE";
    src:
      local("COMIC-ZINE"),
      url("./fonts/COMIC-ZINE/comic_zine_ot.otf") format("opentype") tech(color-COLRv1),
      url("./fonts/COMIC-ZINE/comic_zine_ot.otf") format("opentype");
      font-weight: normal;
      font-style: normal;  
}
@font-face {
    font-family: "Scratch";
    src:
      local("Scratch"),
      url("./fonts/Scratch/Scratch_.ttf") format("opentype") tech(color-COLRv1),
      url("./fonts/Scratch/Scratch_.ttf") format("opentype");
}

@font-face {
    font-family: "Comicblast";
    src:
      local("Comicblast"),
      url("./fonts/comicblast/Comicblast-Regular.otf") format("opentype") tech(color-COLRv1),
      url("./fonts/comicblast/Comicblast-Regular.otf") format("opentype");
      font-weight: normal;
      font-style: normal;  
}
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

h2{
    font-family: 'COMIC-ZINE';
    font-weight: bold;
    font-size: 3rem;
}

h3{
    font-family: 'Scratch';
    font-size: 1.5rem;
}

p{
    font-family: 'Comic Neue', cursive;
}

*{
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }
  
section#nav {
    display: flex;
    flex-direction: column;
    background-color: #6adeed;
    justify-content: center;
}

img#nav-logo {
    width: 100px;
}

nav#nav-bar{
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

ul#nav-list{
    display: flex;
    gap: 1rem;
    list-style: none;
}

button.nav-button {
    background-color:#12adbf; 
    color: white; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 15px;
    padding: 0.7rem ;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 10px;
    width: 8rem;
}

button.nav-button:hover{
    background-color: #387a82; 
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 10px;
    cursor: pointer;
}


/* 
Section Projeto 
*/

section#projeto {
    display: flex;
    justify-content: space-between;

    background-color: #6adeed;
    padding: 2rem 1rem 2rem 2rem;
}

div#projeto-text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

h2#projeto-text-titulo{
    display: flex;
    align-self: center;
}

p.p-description {
    text-align: center;
    vertical-align: middle;
}

div#imagem-projeto{
    display: flex;
}


/* 
Section Problema
 */

section#problema {    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #d1fbfa;
    padding: 2rem 0rem 2rem 0rem; 
}

div#problema-text {
    display: flex;
    align-items: center;
    flex-direction: column;

    color: #0c3837;
    padding: 1rem;
}

img.section-img {
    width: 400px;
    padding: 3rem;
}


/* 
Section Público Alvo
 */

section#publico-alvo {
    display: flex;
    justify-content: space-around;

    color: #385a42;
    padding: 2rem; 
}

div#publico-alvo-text{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
}

/*
Section Pontos fortes
*/

#pontos-fortes{
    display: flex;
    flex-direction: row;
    background-image: url("./img/background-nuvens.avif");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

#imagem-nuvem{
    width: 44rem;
    height: 35rem;
}
#container-texto-imagem-nuvem{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-size: 1rem;
    font-weight: 50;
}
#texto-imagem-nuvem{
    height:16rem;
    width: 30rem;
}


/*
Pitch
*/

#pitch{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e8fef1;
    background-image: url("./img/fundo-pitch.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#footer{
    background-color: black;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

#iframe-pitch{
    border: 6px solid black;
}
#padding-titulo{
    padding-bottom: 2rem;
}
/*
Desenvolvedores
*/

#desenvolvedores{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    background-image: url("./img/quadrinho-fundo\ \(2\).jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#desenvolvedores-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.info-desenvolvedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-desenvolvedor{
    background-color: blueviolet;
    border-radius: 100rem;
    width: 10rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#caio-freitas{
    background-image: url("./img/caio-img.jpeg");
}
#mateus-tibao{
    background-image: url("./img/mateus-tibao.jpeg");
}
#lana-andrade{
    background-image: url("./img/img-lana-andrade.jpeg");
}
#lucas-garcia{
    background-image: url("./img/img-Lucas-Garcia.jpeg");
}

/*
Footer
*/

#footer{
    color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

#footer-info-contato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
}

#contato-link-info-desenvolvedores{
}

#direita{
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

#verificar-email{
    display: flex;
    flex-direction: row;
}

#contato-grande, #contato-mini, #link-info-desenvolvedores{
    color: orange;
    text-decoration: none;
    text-align: left;
}

#contato-grande{
    font-size: 2rem;
}
#btn-contato-devs{
    border: none;
    background: none;
    border-radius: 0.5rem;
    margin-left: 4rem;
}

#btn-contato-devs:hover{
    cursor:pointer;
}

#linha{
    border:solid;
    border-color: orange;
    width: 80rem;
    align-self: center;
    border-radius: 15rem;
    border-width: 0.01rem;
}

#receber-info-projeto{
}

#p-info-projeto{
    padding-bottom: 1rem;
}

#verificar-email{
    font-family: 'Comic Neue', cursive;
}

#botao-comic{
    font-family: 'Comic Neue', cursive;
    color: white;
    background-color: orangered;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}
#mail{
    padding: none;
    font-size: 1rem;
    height: 1.2rem;
}
#redes-sociais-container{
    height: 5rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.logo-rede-social-box{
    border:solid;
    border-color: orange;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    border-radius: 15rem;
    border-width: 0.01rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.fonte-branca{
    color: orange;
}

#contato-devs-absolute{
    background-color: black;
    width: 55rem;
    height: 18rem;
    top: 203rem;
    position: absolute;
    right: 0rem;
    border-left: 1px solid orange;
    border-width: 0.01rem;
    display: flex;
    justify-content: center;
    display: none;
}
.imagem-desenvolvedor{
    background-color: blueviolet;
    border-radius: 100rem;
    width: 3.5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contato-desenvolvedor-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    width: 100%;
}

#contato-desenvolvedor-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    margin-left: 2rem;
}

#caio-freitas-img{
    background-image: url("./img/caio-img.jpeg");
}

#lana-andrade-img{
    background-image: url("./img/lana-img.jpeg");
}

#mateus-tibao-img{
    background-image: url("./img/mateus.jpeg");
}
#lucas-garcia-img{
    background-image: url("./img/img-Lucas-Garcia.jpeg");
}
